.parent-container {
	background-color: rgba(0, 0, 0, 0.77);
	border-radius: 7px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    overflow: hidden;
    top: 150px;
    width: 70%;
    display: flex;
  flex-direction: column;
	/* max-width: 100%; */
	min-height: 300px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.divwithscrollbar {

   overflow: auto;
   max-height: 80%;
   max-height: 400px;
   top: 0%;
   height: 250px;

}

.travellers-section {
    background-color: rgba(0, 0, 0, 0.79);
    min-height: 300px;
}

.flight-footer{
    position: absolute;
    width: 100%;    
    height: 50px;
    left: 0;
    bottom: 0;
    background-color:rgba(25, 25, 25, 0.88);
}

.btn-search {
    margin-right: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px; 
    margin-top: 5px;
    width: 160px;
    float: right;
    font-weight: bolder;
    color: rgb(41, 41, 41);
}
.btn-search:hover {
    /* border-style: solid; */
    background-color:  rgb(199, 196, 196);
    /* border-width: 2px; */
}
.btn-search:active{
    border-style: groove;
    border-width: 2px;
}
.select2 {
    margin-top: 20px;
}
.date {
    margin-top: 20px;
}
.btn-city{
    margin-top: 17px;
    margin-bottom: 60px;
    background-color: white;
    font-weight: bolder;
    color: rgb(41, 41, 41);
}
.btn-dropdown {
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    background-color: white;
}
.btn-city:hover{
    border-style: solid;
    border-color:  rgb(248, 157, 157);
    border-width: 2px;
}
.btn-city:active{
   background-color:  rgb(248, 157, 157);
}
span {
    color: white;
}

.travellers{
    position: sticky;
    font-size: 30px;
}

.btn-incdec {
    background-color: white;
    border-radius: 20px;
}
.traveller-count{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #f1f1f1;
}
.adult-count {
    margin-top: 20px;
}
.children-count {
    margin-top: 20px;
    margin-bottom: 60px;
}
.incdecdiv, .adultchild {
    max-width: 100%;
}
.btn-adult{
    margin-left: 12px;
}
.incdec{
    margin-left: 20px;
}

.ts {
    margin-left: 20px;
}

.close{
    margin-top: 26px;
    margin-right: 20px;
}

.invalid {
    width: 200px;
    background-color: lavenderblush;
    color: red;
    margin-top: 5px;
    border-radius: 2px;
}