body {
    background-image: url('src\assets\images\home_background_image.png');
    position: relative;
    background-size: cover;
    min-height: 100%;
    min-height: 100vh;
}


  /* body css starts here */

  .container {
    background-color: rgba(5, 5, 5, 0.829);
    max-width: 95%;
    height: 80%;
    height: 88vh;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    top: 70px;
    flex-direction: column;
    min-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.no-gutters {
  padding-left: 0 !important; 
  padding-right: 0 !important;
  }

  .flight-detail-body {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .flightroutediv{
      height: 70px;
      display: flex;
      box-sizing: border-box;
      position: relative;
      flex-direction: column;
      border-top-left-radius: 10px;
      align-items: stretch; 
  }
  .cheapestroute{
    color: rgb(255, 255, 255);
    background-color:rgb(57, 67, 120);
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    position: relative;
     flex-direction: column; 
    align-items: center;
    justify-content: center;
}
  .flightroute{
      color: white;
      /* height: 100%; */
      background-color: rgb(22, 22, 22);
  }
  .route-path{
      margin-top: 20px;
  }
  .arrow {
      margin-left: 10px;
      margin-right: 10px;
  }
  .total-cost{
      color: rgb(175, 175, 175);
      background-color: rgb(31, 31, 31);
      
      font-size: 15px;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      position: relative;
       flex-direction: column; 
      align-items: center;
      justify-content: center;
  }
  .cost {
      margin-left: 0;
      margin-right: 0;
      color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .acc-header {
    background-color: #eceaea;
  }
  .flight-detail-header {
    margin-top: -15px;
    margin-bottom: -15px;
    height: 30px;
  }
  .flight-number {
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flight-cost{
    font-size: 100%;
    font-weight: bold;
    color: rgb(35, 35, 87);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carrier-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flight-number,.flight-cost,.carrier-name {
    /* margin-bottom: 20px; */
  }
  .dep-arr-heading {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: rgb(57, 57, 122);
    
    display: block;
    
  }

  .submitdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-search {
    /* margin-right: 30px; */
    background-color: rgb(255, 255, 255);
    border-radius: 5px; 
    margin-top: 5px;
    width: 160px;
    height: 45px;
    float: right;
    font-weight: bolder;
    color: rgb(41, 41, 41);
}
  .dep-arr-div {
    font-size: 15px;
    
  }
  .dep-arr {
    font-weight: bold;
    margin-right: 10px;
  }
  

  .travellerdetail-body {
    margin-top: 1.5%;
    border-radius: 5px;
  }
.travellerdetail{
    position: relative;
    font-weight: bold;
    width: 90%;
    font-size: 25px;
    /* margin-top: 10px; */
    margin-left: 13px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.travwithscrollbar {
  width: 85%;
  overflow: auto;
  margin-top: 7px;
  margin-left: 6.5%;
  /* background-color: #f1f1f1; */
  height: 350px;
  border-color: linen;
  border-radius: 5px;
  top: 0%;
 
 }
.accordion {
    margin-bottom: 10px;
}


.source,.destination {
    font-size: 15px;
    font-weight: bolder;
    display: flex;
  align-items: center;
  justify-content: center;
}
.flighttraveltime {
    font-size: 12px;
    font-weight: bold;
    display: flex;
  align-items: center;
  justify-content: center;

}
.arrdepptime{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center
}
hr.line1 {
    border-top: 1px solid rgb(94, 94, 94);
    margin-top: 0px;
}

.trav-accordion {
  color: aliceblue;
  height: auto;
  min-height: 40px;
  font-weight: bold;
  position: relative;
}
.trav-accordion-btn{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 20px;
  background-color: rgb(57, 67, 120);
 
}
.adult-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trav-input {
  margin-top: 10px;
}
.trav-detail-body {
  background-color: #dfe0e1;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

hr.trav-base-line {
  
    border: 1px solid rgb(163, 163, 163);
}
.searchdetailbody {
  margin-top: 1.5%;
    height: 500px;
    overflow: auto;
}